label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

input {
	display: inline-block;
	width: 300px;
}

select {
	display: inline-block;
	width: 300px;
}

textarea {
	display: inline-block;
	width: 300px;
	height: 100px;
}