<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Anúncio</title>
	<link rel="stylesheet" href="css/anuncio.css" type="text/css">
	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript" src="js/anuncio.js"></script>	
</head>
<body>
	<div ng-controller="cadastroController">
		<p>
			<label>Título:</label>
			<input type="text" ng-model="anuncio.titulo"/>
		</p>
		<p>
			<label>Categoria:</label>
			<select ng-model="anuncio.categoria">
				<option value="IMOVEL">Imóveis</option>
				<option value="VEICULO">Veículos</option>
				<option value="ELETRONICO">Eletronicos</option>
			</select>
		</p>
		<p>
			<label>Descrição:</label>
			<textarea ng-model="anuncio.descricao"></textarea>
		</p>
		<p>
			<label>Estado:</label>
			<select ng-model="anuncio.estado">
				<option ng-repeat="estado in estados" value="{{estado.uf}}-{{estado.nome}}">{{estado.nome}}</option>
			</select>
		</p>
		<p>
			<label>Cidade:</label>
			<input type="text" ng-model="anuncio.cidade"/>
		</p>
		<p>
			<label>Valor:</label>
			<input type="text" ng-model="anuncio.valor"/>
		</p>
		<p>
		    <button ng-click="cadastrar()">Cadastrar</button>
		</p>
		<p>
		    <span>{{mensagem}}</span>
		</p>
	</div>
	
</body>
</html>