<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Anúncio</title>
	<link rel="stylesheet" href="css/anuncio.css" type="text/css">
	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript" src="js/anuncio.js"></script>	
</head>
<body>
	<div ng-controller="listagemController">
		<p>
			<input type="text" ng-model="pesquisa" />
		    <button ng-click="pesquisaLivre()">Pesquisar</button>
		</p>
		<div ng-repeat="anuncio in anuncios">
			<div>
				<p><label>Título:</label> {{anuncio.titulo}}</p>
				<p><label>Descrição:</label> {{anuncio.descricao}}</p>
				<p><label>Categoria:</label> {{anuncio.categoria}}</p>
				<p><label>Estado:</label> {{anuncio.estado}}</p>
				<p><label>Valor:</label> {{anuncio.valor}}</p>
		   	</div>
		   	<hr/>
		</div>		
		<p>
		    <span>{{mensagem}}</span>
		</p>
	</div>
</body>
</html>